
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

  }
  body{
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background-color: #000;


  }
  .wrapper{
    position: relative;
    margin-top: 100px;
    width: 400px;
    height: 500px ;
    background-color: #000;
    box-shadow: 0 0 50px #0ef;
    border-radius: 40px;
    padding: 40px;
  }
.wrapper:hover{
    animation: animate 2s linear infinite;
    -webkit-animation: animate 2s linear infinite;
}
@keyframes animate {
    100%{
        filter: hue-rotate(360deg);
       
}
}

  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;


  }
  h2{
    font-size: 32px;
    color: rgb(178, 13, 219);
    text-align: center;
    /* box-shadow: 0 0 20px #0ef; */
  }
  .input-group{
position: relative;
margin: 30px;
border-bottom: 2px solid rgb(255, 255, 255);

  }

  .input-group label{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateX(-50px);
    font-size: 20px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    overflow: hidden;
   
}
  .input-group input{
     width: 320px ;
    height: 50px;
    font-size: 16px;
    color: #fff;
    /* padding: 0 5px; */
    background: transparent;
    border: none;
    outline: none; 
    width: 320px;
    /* padding: 10px; */
    /* border: 1px solid #110b0b; */
    border-radius: 5px;
 

  }

.input-group input:focus~label,
.input-group input:valid~label {
top: -6px;
}

  .remember{
    margin: -5px 0 15px 5px;
  }
  .remember label{
    color: #fff;
    font-size: 16px;

   

  }
  .remember label input{
    accent-color: #0ef;
  }

  button{
    position: relative;
    width:100%;
    height: 40px;
    background-color: #0ef;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;


  }
  .signUp-link{
    font-size: 14px;
    text-align: center;
    margin: 15px 0;

  }
  .signUp-link p{
    color:#fff;
  }
  .signUp-link p a{
    color: rgb(240, 17, 147);
    text-decoration: none;
    font-weight: 500;
  }
  .signUp-link p a:hover{
    text-decoration: underline;
  }
